.f-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #28a8cf;
  padding: 15px 0;
}

.f-container p {
  color: #28a8cf;
}

.f-container ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  color: #28a8cf;
}
